.mat-dialog-container{
    overflow-x: hidden !important;
}

.video{
    text-align: center !important;
    overflow-x: hidden !important;
}

.dialog-button{
    position: relative;
    margin-right:10px;
    top: 5vh;
    left: 1.5vw;
}
