

<div class="sidebar">
    <ul >
        <div class="example" [routerLink]="['welcome']" [routerLinkActive]="['active-tab']">
            <ul><li><a class="hover hover-1"  ><i></i >Welcome Page</a><span class="welcome-icon"></span></li></ul>
        </div>
        <div *ngIf="isLoggedIn">
            <div class="example" [routerLink]="['search']" [routerLinkActive]="['active-tab']">
            <ul>  <li><a class="hover hover-1 " ><i></i>Search Books</a><span class="book-icon"></span></li></ul>
            </div>
            <div class="example" [routerLink]="['wishList']" [routerLinkActive]="['active-tab']">
            <ul> <li><a class="hover hover-1" ><i></i>Wish list</a><span class="wishlist-icon"></span></li></ul>
            </div>
        </div>

    </ul>
</div>