<div class="container register-container" >
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5" style="width:35vw; right:8vw; bottom:5.5vh;">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4" style="font-size:1.4vw;">Create Account</h3>
                </div>
                <div class="card-body">
                        <form #userForm="ngForm" class="login-container" style="font-size: 0.8vw;" autocomplete="off" novalidate (ngSubmit)="signUp()">
                                <div class="form-row">
                            <div class="col-md-6">
                                <div ><label  style="font-size:0.7vw;" for="inputFirstName">Username</label>
                                    <input #refusername #user="ngModel" [(ngModel)]="userData.username"  name="username" class="form-control py-4" style="font-size:0.7vw;" type="text" 
                                    placeholder="Enter Username"  maxlength="10" required/>
                                    <validation-messages [form]="user" [elementsRefs]="[refusername]"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div ><label class="small mb-1" style="font-size:0.7vw;" for="inputEmailAddress">Email</label>
                                    <input #refEmail #emailAd="ngModel" [(ngModel)]="userData.email"  name="emailAd" class="form-control py-4" id="inputEmailAddress" style="font-size:0.7vw;" type="email" aria-describedby="emailHelp"
                                        placeholder="Enter email address" required/></div>
                                        <validation-messages [form]="emailAd" [elementsRefs]="[refEmail]"></validation-messages>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div ><label class="small mb-1" style="font-size:0.7vw;" for="inputFirstName">FirstName</label>
                                    <input #refFirstname #first="ngModel" [(ngModel)]="userData.firstname"  name="first" class="form-control py-4" id="inputFirstName2" style="font-size:0.7vw;" type="text"
                                        placeholder="Enter first name" required/></div>
                                        <validation-messages [form]="first" [elementsRefs]="[refFirstname]"></validation-messages>

                            </div>
                            <div class="col-md-6">
                                <div><label class="small mb-1" style="font-size:0.7vw;" for="inputLastName">LastName</label>
                                    <input #refLastname #last="ngModel" [(ngModel)]="userData.lastname"  name="last" class="form-control py-4" id="inputLastName2" style="font-size:0.7vw;" type="text"
                                    placeholder="Enter last name" required/></div>
                                    <validation-messages [form]="last" [elementsRefs]="[refLastname]"></validation-messages>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div><label class="small mb-1" style="font-size:0.7vw;" for="inputPassword">Password</label>
                                    <input #refPassword type="password" #pass="ngModel" [(ngModel)]="userData.password" name="password" class="form-control py-4" style="font-size:0.7vw" id="inputPassword" type="password" placeholder="Enter password" required/></div>
                                    <validation-messages [form]="pass" [elementsRefs]="[refPassword]"></validation-messages>

                            </div>
                            <div class="col-md-6">
                                <div><label class="small mb-1" style="font-size:0.7vw;" for="inputConfirmPassword">Confirm Password</label>
                                    <input  #refConfirmPassword type="password" #confirmPass="ngModel" [(ngModel)]="userData.confirmPassword" name="confirmPassword" class="form-control py-4" style="font-size:0.7vw" id="inputConfirmPassword" type="password"
                                    placeholder="Confirm password" required/></div>
                                    <validation-messages [form]="confirmPass" [elementsRefs]="[refConfirmPassword]"></validation-messages>
                            </div>
                        </div>

                    <div *ngIf="!isEditMode" class="form-group mt-4 mb-0" ><a class="btn btn-primary btn-block" [form]="userForm" cnFormSubmit >Sign in</a></div>
                    <div *ngIf="isEditMode" class="form-group mt-4 mb-0" ><a class="btn btn-primary btn-block" [form]="userForm" cnFormSubmit >Edit profile</a></div>


                    
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a [routerLink]="['/auth']">Have an account? Go to login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>