// modal windows yes/no
.no-btn:hover { 
    background-color: rgba(179, 49, 49 , 0.8);
  }
  
  .yes-btn:hover { 
    background-color: rgba(49, 179, 66 , 0.8);
  }
  .margin-btns{
      margin-right:5vw;
  }
  .title{
   font-size:20px;
    margin-bottom:10px;
  }