<div class="dialog container">
    <h1> Book details:</h1>
    
    <!-- book info -->
    <div class="book-details">
    <div><h3>Title:</h3><div *ngIf="bookData.volumeInfo.title; else emptyList">{{bookData.volumeInfo.title}}</div></div>
    <div><h3>Authors:</h3><div *ngIf="bookData.volumeInfo.authors; else emptyList">{{bookData.volumeInfo.authors}}</div></div>
    <div><h3>Language:</h3><div *ngIf="bookData.volumeInfo.language; else emptyList">{{bookData.volumeInfo.language}}</div></div>
    <div><h3>Number of pages:</h3><div *ngIf="bookData.volumeInfo.pageCount; else emptyList">{{bookData.volumeInfo.pageCount}}</div></div>
    <div ><h3>Description:</h3><div *ngIf="bookData.volumeInfo.description; else emptyList">{{bookData.volumeInfo.description}}</div></div>
    <ng-template #emptyList>Not available</ng-template>
</div>
    <!-- confirmations buttons -->
    <div>
        <button class="dialog-button yes-btn" (click)="addToCart()" mat-raised-button color="primary" [mat-dialog-close]="true">Add to Wishlist</button>
        <button class="dialog-button no-btn" mat-raised-button [mat-dialog-close]="false">Close</button>
    </div>
</div>