<div class="header-wrapper">
        <span class="app-title">Media Manager </span>
        <div *ngIf="username" class="btn-group" dropdown>
                <span class="arrow-user" dropdownToggle>
                        <fa-icon class="settings-icon" [icon]="faCog"></fa-icon>
                </span>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settings-dropdown" role="menu"
                aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" [routerLink]="['/auth/editProfile']">Edit profile</a></li>
        </ul>
        </div>

        <div class="btn-group" dropdown>
                <span class="arrow-user" dropdownToggle>
                        <fa-icon class="user-icon" [icon]="faUser"></fa-icon>
                        <fa-icon class="arrow-icon" [icon]="faSortDown"></fa-icon>
                </span>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-position" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/auth/login']">Login</a></li>
                        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/auth/register']">Sign up</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
        </div>
        <span *ngIf="username" class="hello-username">Hello, {{username}}</span>
        <span *ngIf="!username" class="hello-username" [routerLink]="['/auth']">Sign in</span>
</div>