










/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  // font-family: 'Open Sans', sans-serif;
}

.global-container{
  top:15vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

form{
	padding-top: 10px;
	font-size: 0.8vw;
	margin-top: 30px;
}

.card-title{ font-weight:300; font-size: 1.6vw }

.btn{
	font-size: 1vw;
	margin-top:20px;
}

.login-form{ 
  position: relative;
  top:6.4vh;
  bottom: 24.3vh;
  width: 17vw;
  right: 36.4vw;

  margin:0;
  box-shadow: 0 0 20px #aaa;
  box-shadow: 0 1.5em 2em -1em #999;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

.users-icon{
  position: relative;
  font-size: 2.2vw;
  color: #8f5496;
  bottom: 3vh;
  cursor: pointer;
}
.users-count{
  font-weight: bold;
  position: relative;
  left: 7vw;
  bottom: 9.7vh;
  font-size: 1.1vw;
}

.registred-users{
  position: relative;
  left: 4.4vw;
  bottom:10vh;
}

