.books-chart{
    display: inline-block; position: fixed; height:20vh; width:35vw; left:16vw; top:10vh;
}
.videos-chart{
    display: inline-block; position: fixed; height:20vh; width:35vw; left:57vw; top:10vh;
}